body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    max-width: 900px;
}

hr {
    display: none;
}

header {
    display: flex;
    justify-content: space-evenly;
}

header p {
    font-size: 40px;
    font-weight: bold;
}

section {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    flex-wrap: wrap;
}

article {
    width: 400px;
    min-width: 400px;
    height: 360px;
    min-height: 360px;
    padding: 10px;
    margin: 5px 5px;
    border: 1px solid black;
    background-color: rgb(247, 247, 247);
}

article p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

article img {
    border-radius: 5px;
    width: 50px;
    margin-right: 5px;
}

article a {
    background-color: rgb(47, 0, 255);
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: block;
    width: 150px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}

article a:hover {
    opacity: 0.7;
}

footer {
    display: flex;
    justify-content: center;
}

footer section {
    display: block;
    justify-content: center;
}